:root {
    --dark-blue: #14007a;
    --blue: #1a009c;
    --light-blue: rgb(74, 225, 255);
    --pink: rgb(255, 40, 113);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: white;
}

.system-title {
    font: 800 2.3rem sans-serif;
    text-align: center;
    margin: 1.5rem .5rem .5rem .5rem;
    color: black;
}

.system-component {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 1rem;
}

.automatic-feedback-generator {
    width: 90vw;
    height: 90vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 1rem;
    overflow: hidden;
}

.inputs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    overflow-y: auto;

    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}

h1 {
    font: 600 1.2rem sans-serif;
    margin: 1rem 0;
    color: #fff;
}

h1 > img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.problem-description {
    height: 45vh;
}

.problem-description textarea {
    width: 100%;
    height: calc(100% - 4rem);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    resize: vertical;
}

.problem-description textarea::-webkit-scrollbar {
    width: .4rem;
}

.problem-description textarea::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: .4rem;
}

.program-testcase-btn {
    display: grid;
    justify-content: center;
}

.program-testcase-btn button {
    padding: .7rem;
    background-color: #08921D;
    color: white;
    border: none;
    border-radius: .2rem;
    font-weight: 500;
}

.program-testcase-btn button:hover{
    background-color: #0A3A0A;
}

.code-input {
    padding: 1rem;
}

.generate-feedback-btn {
    width: 97%;
    display: grid;
    justify-content: right;
    margin: 1rem;
}

.generate-feedback-btn button {
    padding: .7rem;
    background-color: #08921D;
    color: white;
    border: none;
    border-radius: .2rem;
    font-weight: 500;
}

.generate-feedback-btn button:hover {
    background-color: #0A3A0A;
}

.editor {
    width: 100%;
    height: 68vh;
}

.wrong-program-description {
    margin: 1rem 0;
    font: 600 1.2rem sans-serif;
    color: white;
}

.wrong-program-description img {
    width: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.testcase-container {
    width: 100%;
    text-align: center;
}